<link rel="stylesheet" href="navbar.css">
<div class="navbar">
  <div class="user-details">
    <img src="<%=profile_pic%>" /><br>
    <h2><%= name%></h2>
  </div>
   <h1>Welcome to E-Commerce App</h1>
   <button id="logout"><a href="/login">LogOut</a></button>
</div>