<!DOCTYPE html>
<html>
<head>
<title>E-commerce</title>
<link rel="stylesheet" href="/style.css">
</head>
<body>

  <div class="error">
    <% if(error) {%>
    <h1><%= error %></h1>
    <% } %>
  </div>

 <div class="wrapper">
      <div class="title-text">
        <div class="title login">Set Password</div>
      </div>
      <div class="form-container">
        <div class="form-inner">        
         <form method="post" action="/updatePass" class="signup" id="passForm">
            <div class="field">
              <input name="password" type="password" placeholder="New Password" class="pass1" required>
            </div>
            <div class="field">
              <input name="conPassword" type="password" placeholder="Confirm password" class="pass2" required>
            </div>
            <div class="field btn">
              <div class="btn-layer"></div>
              <input type="submit" class="signupBtn" value="Set Password"/>
            </div>
          </form>
      </div>
    </div>
</body>


</html>