<!DOCTYPE html>
<html>
<head>
<title>E-commerce</title>
<link rel="stylesheet" href="/style.css">
</head>
<body>

  <div class="error">
    <% if(error) {%>
    <h1><%= error %></h1>
    <% } %>
  </div>

 <div class="wrapper">
      <div class="title-text">
        <div class="title login">Forgot Password</div>
      </div>
        <div class="form-inner">        
          <form action="/#" class="login" method="post" id="email">
            <div class="field">
              <input name="username" type="text" placeholder="Email Address" class="user" required>
            </div>
            <div class="field btn">
              <div class="btn-layer"></div>
              <input type="submit" class="forgotBtn" value="Send Verification Link"/>
            </div>
          </form>
      </div>
    </div>
</body>
<script>
var form = document.querySelector("#email")
form.addEventListener("submit",(event)=>{
  event.preventDefault();
  console.log("hit")
  var el = document.querySelector(".error");
  var data = {
    username : document.querySelector(".user").value
  }
  var request = new XMLHttpRequest();
  request.open("post","/admin/temp")
  request.setRequestHeader("Content-Type", "application/json");
  request.send(JSON.stringify(data));

  request.addEventListener("load",function(ev){
    //console.log(request.responseText);
    var status = ev.target.status;
    //console.log(status)
    if (status === 400) {
      el.innerHTML = "This Email is not Registered or You are not Admin!!";
    }
    if(status === 200){
      el.innerHTML = "Password Reset link is sent to this email !!";    
    }
  })

})

console.log("linked")
</script>
</html>