<div>
    <form action="/signup" method="post">
    <input placeholder="Enter Username"/> 
    <input placeholder="Enter Password"/>
    <input type="file"/>

    <input type="submit" value="signup"/>
    </form>
</div>