<html>
   <link rel="stylesheet" href="style.css">
<body>

<div id="loginContainer">

    <div id="loginDetailContainer">
        <h2 id="Sbtn">Sign Up</h2>
  <form method="post" action="/signup" enctype="multipart/form-data">
    <input required class="inputContainer" name="username" placeholder="enter username"/><br>
    <input required class="inputContainer" name="password" type="password" placeholder="enter password"/><br>
    <input required name="profile_pic" type="file"/><br>
     <span>Already a member? <a href="/login" id="">Login</a></span><br>
    <input id="btn" type="submit" value="SIGNUP"/>
  </form>

  </div>

  <% if(error) {%>
    <h1><%= error %></h1>
  <% } %>

</div>

</body>

</html>

