<html>
<head>

<link rel="stylesheet" href="/product.css">

</head>
<body>

<div class="navbar">
  <a href="/home">Home</a>
  <!---<a href="#news">News</a>--->


  <div class="dropdown">
    <button class="dropbtn">Your Account
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/updatePass">Update Password</a>
      <a href="/logout">LogOut</a>
      <!---<a href="#">Link 3</a>--->
    </div>
  </div> 
</div>

<br>

<div class="products">

</div>


<script src="/mycart.js"></script>

</html>