<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="/product.css">

</head>
<body>

<div class="navbar">
  <a href="/admin/products">Home</a>
  <!---<a href="#news">News</a>--->

  <div class="drop">
    <button class="dropbtn">Your Account

      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-con">
      <a href="/admin/products">My Products</a>
      <a href="/admin/createproduct">Create Products</a>
      <a href="/admin/updatePass">Update Password</a>
      <a href="/logout">LogOut</a>
      <!---<a href="#">Link 3</a>--->
    </div>
  </div> 
</div>

<div class="products">

</div>

</body>
<script src="/adminproduct.js"></script>
</html>